<%pagetitle(t(:ad_tech))%>
<div class="banner">
  <img src="<%=t(:stick_techpic)%>" width="894" height="344" border="0" />
</div> 

<div id="copy">
<ul><li><%=t(:adtech_note)%></li>
<li class="copytitle"><%=t(:ad_tech)%></li>
<li style="margin-left:20px"><%=@stick_tech.body%>
</li>
<li class="contactdownload"><a href="http://www.apple.com/quicktime/download/"><span><%=t(:download_quicktime)%></span></a></li>
</ul>
</div>
