<ul>

  <li><%= link_to '产品大类', adminpanel_top_products_path %></li>
  <li><%= link_to '产品中类', adminpanel_middle_products_path %></li>

  <li><%= link_to '公司历史', adminpanel_company_histories_path %></li>
  <li><%= link_to '公司简介', adminpanel_company_infos_path %></li>
  <li><%= link_to '核心精神', adminpanel_company_spirits_path %></li>
  <li><%= link_to '粘贴技术', adminpanel_stick_teches_path %></li>
  <li><%= link_to '下载区', adminpanel_downloads_path %></li>
  <li><%= link_to '经销商', adminpanel_areas_path %></li>
  <li><%= link_to '联系方式', adminpanel_contacts_path %></li>

  <li><%= link_to '修改密码', edit_user_path(current_user) %></li>
  <li><%= link_to '登出', logout_path %></li>

</ul>